@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
/* Добавь это в конец файла */
.logo-glow {
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 0, 0, 0.3);
}
@layer base {
  body {
    @apply bg-black text-white antialiased overflow-x-hidden;
    font-family: 'Inter', sans-serif; /* Или любой другой шрифт */
  }
}

/* Эффект свечения при наведении на кнопки */
button {
  box-shadow: 0 0 0 rgba(214, 122, 157, 0);
  transition: box-shadow 0.3s ease;
}

button:hover {
  box-shadow: 0 0 20px rgba(214, 122, 157, 0.4);
}
@keyframes shimmer {
  100% { transform: translateX(100%); }
}